{% if site.disqus_shortname %}
<section class="comments">
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = "{{ page.url | absolute_url }}";
      this.page.identifier = "{{ page.id | default: page.url }}";
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Enable JavaScript to view the comments powered by <a href="https://disqus.com/?ref_noscript">Disqus</a>.</noscript>
</section>
{% endif %}
